<div class="ui-g">
  <div class="ui-g-4">
  </div>
  <div class="ui-g-4">
    <h1>Recuperar contraseña</h1>  
      <span class="ui-float-label">
          <input id="float-input" type="text" size="30" [(ngModel)]="email" pInputText> 
          <label for="float-input">email</label>
      </span>
    <hr/>
    <button pButton type="button" label="Recuperar" (click)="forgot()"></button>
    <hr/>
    <div><a routerLink="/login">Ir al Login</a></div>
  </div>
    
  <div class="ui-g-4"></div>
</div>
<p-dialog header="Message" [(visible)]="display">
    {{ msg }}
</p-dialog>
